body {
    margin: 0;
    font-family: 'Courier New', Courier, 'Lucida Console', 'Consolas', monospace;
    background-color: #000; /* Black background */
    color: #FFA500; /* Orange text */
}

header {
    text-align: center;
    background-color: #111;
    width: 100%;
}

header h1 {
    margin: 0;
    font-size: 3em;
    color: #FFA500;
    width: 100%;
}

nav ul {
    list-style-type: none;
    width: 100%;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #FFA500;
}

section {
    margin: 0;
    width: 100%;
    background-color: #111;
}

section h2 {
    font-size: 2em;
    width: 100%;
}

section p {
    font-size: 1.2em;
    width: 100%;
    line-height: 1.6em;
}

.project {
    margin-bottom: 20px;
    width: 100%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #111;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}
